
.feature {
    background-color: $lightGrayishBlue;
    text-align: center;

    @include breakpoints-up(medium) {
        text-align: left;
    }
    
    &__intro {
        margin-bottom: 3.75rem; //60px;

        @include breakpoints-up(large) {
            width: 60%;
        }
    }

    &__grid {
        @include breakpoints-up(medium) {
            display: flex;
            flex-wrap: wrap;
        }
    }

    &__item {
        padding: 0.9375rem; // 15px

        @include breakpoints-up(medium) {
            flex: 0 0 50%;
        }

        @include breakpoints-up(large) {
            flex: 1;
        }
    }

    &__icon {
        margin-bottom: 1.875rem; //30px;

        @include breakpoints-up(large) {
            margin-bottom: 2.75rem; //44px;
        }
    }

    &__title {
        font-size: 1.25rem; //20px;
        font-weight: 300;
        line-height: 1.15;
        color: $darkBlue;
        margin-bottom: 1rem; //16px

        @include breakpoints-up(large) {
            font-size: 1.5rem; //24px;
            margin-bottom: 1.5rem; //24px
        }
    }

    &__description {
        font-size: 0.875rem;//14px;
        line-height: 1.5;
    }
}
